body {
    /* background-image: url("../images/buds.jpg"); */
    background-size: 100%;
    background-color: #001f3f;
}

h1 {
    text-align: center;
    color: #3D9970;
    font-family: 'Source Code Pro', monospace;
    font-size: 5rem; 
}

.codingGif {
    height: 300px;
    display: block;
    margin: auto;
}