  .offline{
    filter: grayscale(1);
    border: 8px solid #FF4136 !important;
   }
   .classy {
    position: relative;
    text-align: center;
    color: white;
    }
    .centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }   
    #Submit{
     opacity: 0.5;
   }
   #name{
    padding-left: 55px;
    padding-top: 20px;
  }
  #Photo{
    border: 8px solid #39CCCC;
    border-radius: 50%;
    zoom: 15%; 
    margin-left: 300px;  
  }
  .photos{
    border: 10px solid #39CCCC;
    border-radius: 50%;
    zoom: 40%; 
    margin-bottom: 10px; 
        width: 400px;
  }
  i{

   zoom: 10;
 }
 div.stars {
  width: 270px;
  display: inline-block;
}
.nav{
  background: #DDDDDD;
}
.nav-tabs>li>a{
  color: black;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loading{
  left: 41%;
}
